
*.pyc
/test
/.vscode
.DS_Store
runs.txt
.Rproj.user
/debug
/val
Analysis.Rmd
Analysis.nb.html
.Rhistory
/build
/emaae.py.egg-info
encoding/plots.py
encoding/eval_encodings.py
encoding/plots.py
encoding/visualize_cnn.py
flatplots.ipynb
